Repository vdaas/vald-ci-labs, pull requests merged in 2023-09, with the labels that each got.

#116 Fix lb handler to make a difference
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/backport/release/v1.8

#119 :bookmark: :robot: Release v1.8.1
  CHANGELOG.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  versions/VALD_VERSION
Labels: actions/backport/main

#123 :bookmark: :robot: Release v1.9.0
  CHANGELOG.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  versions/VALD_VERSION
Labels: actions/backport/main

#125 Deleted unnecessary code
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/backport/release/v1.8, actions/backport/release/v1.9
